header {
  min-height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #B9DCFF;

  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    max-width: 100%;
  }
  
  .header-content {
    text-align: start;
    color: #0C227A;
    margin-right: 16px;
  }

  .header-content p {
    font-weight: 500;
  }

  .header-content h1 {
    font-size: 80px;   
    margin-left: -5px;
  }

  @media screen and (max-width: 768px){
    display: inline-flex;
  }
}
