@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;  
}

p {
  font-size: 16px;
}
